{% extends 'inc/layout.html' %}

{% block title %}
Change Password
{% endblock %}

{% block breadcrumb %}
{% include "inc/breadcrumb.html" with path="User/Password-Change" only %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-sm-12">
        
        {% if form.errors %}

            {% for field in form %}
                {% for error in field.errors %}
                <p class="text-danger">
                    {{error}}
                </p>
                {% endfor %}
            {% endfor %}
            
            {% for error in form.non_field_errors %}
                <p class="text-danger">
                    {{error}}
                </p>                
            {% endfor %}                
                
        {% endif %}            

		<div class="card">
			<div class="card-header">
				Change Password
			</div>
			<div class="card-body card-block">
				<form action="{% url 'password_change' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
					{% comment %} {% form.as_p %} {% endcomment %}
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="hf-old_password" class=" form-control-label">Old Password *</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="password" id="hf-old_password" name="old_password" value=""
								placeholder="Enter old password" class="form-control" required>
						</div>
					</div>

					<div class="row form-group">
						<div class="col col-md-3">
							<label for="hf-new_password1" class=" form-control-label">New Password *</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="password" id="hf-new_password1" name="new_password1" value=""
								placeholder="Enter new password" class="form-control" required>
						</div>
					</div>

					<div class="row form-group">
						<div class="col col-md-3">
							<label for="hf-new_password2" class=" form-control-label">Repeat New Password *</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="password" id="hf-new_password2" name="new_password2" value=""
								placeholder="Repeat new password" class="form-control" required>
						</div>
					</div>

					<div class="row form-group">
						<div class="col col-md-3">
							<a href="{% url 'users.profile' %}?next={{request.path}}" class="btn btn-link">&larr;Back</a>
						</div>
						<div class="col-12 col-md-9">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
{% endblock %}