{% extends 'inc/guest-layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}
   About Us
{% endblock %}


{% block content %}
<div class="col-md-2 col-sm-12">
</div>
  <div class="col-md-8 col-sm-12">
  <div class="card">
      <img class="card-img-top img-thumbnail" src="{% static 'images/dash.png' %}" alt="Card image cap" >
      <div class="card-body">
          
        <h4 class="card-title mb-3">About Us</h4>

          <p class="card-text">
          Our mission is to make task management easier and more collaborative.
          </p>

          <p class="card-text">
          With a focus on flexibility and efficiency, we’ve created a tool that allows individuals and teams to manage multiple projects in one place. 
          <br>
          Workspaces empower you to group your tasks and collaborate more effectively with colleagues, while our intuitive design ensures you spend less time managing tasks and more time completing them.
          </p>
        
        <h4 class="card-title mb-3">Why We Built This</h4>
        
        <p class="card-text">
        We believe that effective collaboration shouldn’t be complicated. That’s why we’ve developed a solution that simplifies the process, letting you focus on what matters most—getting things done.
        </p>

      </div>
  </div>
</div>
<div class="col-md-2 col-sm-12">
</div>

{% endblock %}