{% extends 'inc/guest-layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}
Homepage
{% endblock %}


{% block content %}
<div class="col-md-2 col-sm-12">
</div>
<div class="col-md-8 col-sm-12">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">
        Organize and Collaborate Effortlessly
      </h3>
      <p class="card-text text-center">
        Streamline your workflow with our collaborative Todo manager.
        </p>
        <ul>
          <li>Create multiple workspaces to group your tasks</li>
        <li>collaborate seamlessly with your team and</li> 
        <li>stay on top of every project.</li>
        </ul>
        <br>
        <p class="card-text text-center">
        Whether you’re managing personal tasks or coordinating with a team, 
        <br>
        our app provides the flexibility and simplicity you need.
      </p>
      <br>
      <h3 class="card-title text-center">
        Features:
      </h3>
      <p class="card-text text-center">
        <b>Multiple Workspaces</b>
        <br>
        Keep your projects organized in separate workspaces.
        <br>
        <b>Collaboration</b>
        <br>
        Assign tasks, set deadlines, and track progress with ease.
        <br>
        <b>Seamless Management</b>
        <br>
        Simple, intuitive interface to manage your to-dos from anywhere.
      </p>
      <br>
      <h4 class="card-title text-success text-center">
        Get started today and turn your tasks into achievements!
      </h4>
    </div>
  </div>
</div>
<div class="col-md-2 col-sm-12">
</div>
{% endblock %}